## DATAWRANGLINGINPYTHON/DATAWRANGLINGWITHPANDAS/DATAWRANGLINGINPYTHON DATAWRANGLINGWITHPANDAS 5 EXERCISE  ##
#### Please refer to module 1 of DataWranglingInPython - DataWranglingWithPandas for Tasks 1-4
#### Task 1
##### Import `pandas` as `pd` and numpy as `np`.
##### Import `path` from `Pathlib`.
##### Set the data directory using the data_dir variable.
#### Result:

In [1]:
import pandas as pd
import numpy as np

#### Task 2
##### Create a Pandas `Series` object from a list of groceries below. Assign it to `shopping_series` variable and print it.
- milk
- eggs
- peppers
- cheese
- tomatoes
##### Print out only the values of the Series.
#### Result:

In [ ]:
shopping_series = pd.Series(['milk', 'eggs', 'peppers', 'cheese', 'tomatoes'])
print(shopping_series)

In [ ]:
print(shopping_series.values)

In [ ]:
data = ['milk', 'eggs', 'peppers', 'cheese', 'tomatoes']
index = ['a', 'b', 'c', 'd', 'e']
series2 = pd.Series(data, index=index)
print(series2)

In [ ]:
print(series2['a'])

#### Task 3
##### Create a Pandas Date Series object starting from `January 1st 2019` and ending with `January 1st 2020` separated monthly. Assign the Series to `monthly_series` variable. Print the result.     
##### Create another Pandas Date Series object starting from `January 1st 2019` and covering 12 monthly periods. Assign the Series to `monthly_series_by_period` variable. Print the result.
##### Are the two Series equivalent?
#### Result:

In [ ]:
series3 = pd.date_range(start='2019-01-01', end='2020-01-01', freq='M')
print(series3)
# series_data = pd.Series(index=series3)
# print(series_data)

In [ ]:
series4 = pd.date_range(start='2019-01-01', periods=12, freq='M')
print(series4)

#### Task 4
##### Create a NumPy array `abs_values` with values `[5, 8, 66, 4]` and convert it into a `Pandas Series` object. Assign it to variable `abs_series`.
##### Print the result.
##### Then print the results of the following operations:
- Get the shape of the Series
- Find the mean of the Series
- Find the median of the Series
- Find the standard deviation of the Series
- Get unique values in the Series
- Get the number of unique values in the Series
#### Here are some bonus questions that you could work on later
- Get counts of unique values in the Series
- Find the position of the minimum value in the Series
- Find the position of the maximum value in the Series
- Rank items in the Series in descending order
- Sort values in the Series
- Find sum of the Series
- Find cumulative sum of the Series
#### Result:

In [2]:
abs_values = np.array([5, 8, 66, 4])
print(abs_values.shape)
abs_values = pd.Series(abs_values)
print(abs_values)

(4,)
0     5
1     8
2    66
3     4
dtype: int64

In [ ]:
abs_values.shape

In [ ]:
abs_values.mean()

In [ ]:
abs_values.median()

In [ ]:
abs_values.std()

In [ ]:
abs_values.unique()

In [ ]:
abs_values.nunique()

In [ ]:
abs_values.value_counts()

In [ ]:
abs_values.idxmin()

In [ ]:
abs_values.idxmax()

In [ ]:
abs_values.sort_values(ascending=False)

In [3]:
print(abs_values.sum())
print(abs_values.cumsum())

83
0     5
1    13
2    79
3    83
dtype: int64

#### Answers for the bonus questions

In [ ]:
print(abs_series.value_counts())
print(abs_series.idxmin()) 
print(abs_series.idxmax())
print(abs_series.rank(ascending = False))
print(abs_series.sort_values())
print(abs_series.sum())
print(abs_series.cumsum())

#### Please refer to module 2 of DataWranglingInPython - DataWranglingWithPandas for Tasks 5-8
#### Task 5
##### Create a Pandas Series object from a list of groceries below. Assign it to a variable called `shopping_series` and print it.
- milk
- eggs
- peppers
- cheese
- tomatoes
##### Create a Series object called `prices` that contains the following values: [2.5, 3.99, 1.95, 5.99, 1.29].
##### Create a Series object called `num_items` that contains the following values: [1, 1, 2, 1, 3].
##### Combine the three `Series` objects described above into a single DataFrame called `shopping_cart` naming the columns as follows:
- `item_name`
- `item_price`
- `item_quantity`
##### Print the first few entries (i.e. the `head` of the DataFrame).
#### Result:

In [2]:
shopping_series = pd.Series(['milk', 'eggs', 'peppers', 'cheese', 'tomatoes'])
prices = pd.Series([2.5, 3.99, 1.95, 5.99, 1.29])
num_items = pd.Series([1, 1, 2, 1, 3])

shopping_cart = pd.DataFrame({'item_name': shopping_series, 'item_price': prices, 'item_quantity': num_items})
print(shopping_cart.head())

  item_name  item_price  item_quantity
0      milk        2.50              1
1      eggs        3.99              1
2   peppers        1.95              2
3    cheese        5.99              1
4  tomatoes        1.29              3

In [6]:
print(shopping_cart.info())
print(shopping_cart.values)

[['milk' 2.5 1]
 ['eggs' 3.99 1]
 ['peppers' 1.95 2]
 ['cheese' 5.99 1]
 ['tomatoes' 1.29 3]]

#### Task 6
##### Check the following characteristics of the `shopping_cart` object:
- Type
- Shape
- Show column names of the DataFrame
- Show information of the DataFrame
- Describe the DataFrame
##### How many columns are described in the last output? Why do you think that's the case?
##### What is the 75th percentile of the column `item_price`?
##### What is the standard deviation of the column `item_quantity`?
#### Result:

In [7]:
type(shopping_cart)

pandas.core.frame.DataFrame

In [8]:
shopping_cart.shape

(5, 3)

In [12]:
shopping_cart.columns

Index(['item_name', 'item_price', 'item_quantity'], dtype='object')

In [10]:
print(shopping_cart.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item_name      5 non-null      object
 1   item_price     5 non-null      float64
 2   item_quantity  5 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes
None

In [13]:
shopping_cart["item_price"].quantile(0.75)

3.99

In [14]:
shopping_cart["item_quantity"].std()

0.8944271909999159

#### Task 7
##### Perform the following on the `shopping_cart` DataFrame:
- Extract column `item_price`
- Extract columns `item_name` and`item_quantity`
- Extract the 3rd row
#### Result:

#### Task 8
##### Set the index of `shopping_cart` DataFrame to `item_name`. Print the updated DataFrame.
##### Print just the index of the `shopping_cart` DataFrame.
##### Look up the row of the `shopping_cart` by using the index value 'eggs'.
##### Reset index of the `shopping_cart`. Print the updated DataFrame.
#### Result:

#### Please refer to module 3 of DataWranglingInPython - DataWranglingWithPandas for Tasks 9-12
#### Task 9
##### Read in 'heart_failure_clinical_records_dataset.csv' into a variable called `ex_df` using Pandas.
##### Print the first 20 rows of the DataFrame.
#### Result:

#### Task 10
##### Perform the following actions on `ex_df` object:
- Check the type of the object
- Get the shape of the object and save it to 2 variables and print both: `nrows` and `ncols`
#### Result:

#### Task 11
##### Use the sample function to:
- print 3 random rows in ex_df
- print 0.1% random rows in 
#### Result:

#### Task 12
##### Inspect `ex_df` for the following information:
- columns
- data types
- info
- statistical summary (describe)
#### Result:

#### Please refer to module 4 of DataWranglingInPython - DataWranglingWithPandas for Tasks 13-16
#### Task 13
##### Find the number of unique values present in the columns of the DataFrame, store the result in the dictionary format with the name `ex_col_dict` and print the dictionary.
##### Identify and pick the column which has the least number of unique values from the dictionary.
##### Save the column as `ex_grouping_col` and print it.
#### Result:

#### Task 14
##### Group by the column `ex_grouping_col` and assign it to a DataFrame named `ex_grouped_df`.
##### Use the summary functions to get the count of ID variable for all the variables you just grouped in `ex_grouped_df`.
##### Assign the output to a DataFrame called `ex_df_ID` and print that DataFrame.
#### Result:

#### Task 15
##### Sort the values by ID.
#### Result:

#### Task 16
##### In `ex_df_ID`, create a new Boolean column (containing values True or False) called `over10000_ID` .
##### This indicates whether a row has a value for `ID` that is higher than 10000.
#### Result:

#### Please refer to module 5 of DataWranglingInPython - DataWranglingWithPandas for Tasks 17-20
#### Task 17
##### Subset the DataFrame to have the following variables: ['creatinine_phosphokinase', 'age', 'serum_sodium', 'platelets', 'time', 'serum_creatinine', 'ejection_fraction', 'sex', 'death_event', 'diabetes', 'smoking', 'anaemia', 'high_blood_pressure']. Print head of `ex_df_subset`.
##### Check if there are any NAs in the DataFrame and fill with mean if NAs are present.
#### Result:

#### Task 18
##### Group `ex_df` data by the variable `ex_grouping_col`. Save as `ex_grouped`.
##### Then group and summarize the numeric variables: ['creatinine_phosphokinase', 'age', 'serum_sodium', 'platelets', 'time', 'serum_creatinine', 'ejection_fraction'] using their means.
##### Save as `ex_grouped_mean` and print.
##### Reset its index and print the result.
#### Result:

#### Task 19
##### Notice the format of `ex_grouped_mean`. We wish to convert it from wide to long format.
##### Use the `pd.melt()` function and convert it to long format. Save as `ex_grouped_mean_long` and print the result.
#### Result:

#### Task 20
##### Now use the `pd.pivot()` function to convert `ex_grouped_mean_long` to wide format.
##### Save as `ex_grouped_mean_wide` and print.
#### Result: